PlantGrower
[{"id":"59fddb0e.c1913c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"628e1a6a.ce2d24","type":"tab","label":"WorkingCopy","disabled":true,"info":""},{"id":"c339fc6b.a41c4","type":"modbus-client","z":"","name":"ClickPLC","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.169","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"9fb9dc68.e8fc","type":"ui_tab","z":"","name":"Plant Grower 01 | Monitor and Control","icon":"dashboard","order":1},{"id":"97a2bfe.ef09b4","type":"ui_group","z":"","name":"Inputs and Counters","tab":"9fb9dc68.e8fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"9db31b1c.e9ab38","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Plant Grrower 01","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ceb2667f.7f32e8","type":"ui_group","z":"","name":"Control","tab":"9fb9dc68.e8fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"b60a0bd9.93a2f8","type":"ui_tab","z":"","name":"Maintenance","icon":"dashboard","order":4},{"id":"ca7a1268.93c9c","type":"modbus-client","z":"","name":"Wago750-352","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.3","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"763b3de.1ba7ac4","type":"ui_group","z":"","name":"Inputs","tab":"b60a0bd9.93a2f8","disp":true,"width":"6"},{"id":"6f260f65.2ccdb","type":"ui_group","z":"","name":"Outputs","tab":"b60a0bd9.93a2f8","disp":true,"width":"6"},{"id":"28859e26.f78d52","type":"ui_group","z":"","name":"System Status","tab":"37242ad.eb767d6","order":1,"disp":true,"width":"6"},{"id":"37242ad.eb767d6","type":"ui_tab","z":"","name":"Auto Mode","icon":"dashboard","order":3},{"id":"1fe5b8c9.d9b4c7","type":"ui_group","z":"","name":"Setup","tab":"37242ad.eb767d6","order":3,"disp":true,"width":"6"},{"id":"68ead966.a87d88","type":"ui_group","z":"","name":"Controls","tab":"37242ad.eb767d6","order":2,"disp":true,"width":"6"},{"id":"42f915e3.c2a06c","type":"modbus-client","z":"","name":"Modbus Flex Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"15502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"c01f6929.368b28","type":"modbus-client","z":"","name":"Modbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"15502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"b469d970.9d6b68","type":"ui_group","z":"","name":"Historical","tab":"9fb9dc68.e8fc","order":3,"disp":true,"width":"18","collapse":false},{"id":"397e389f.73b1b8","type":"comment","z":"59fddb0e.c1913c","name":"Digital Outputs & Logic","info":"","x":120,"y":640,"wires":[]},{"id":"e5ad9406.0dc028","type":"modbus-read","z":"59fddb0e.c1913c","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"4","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c339fc6b.a41c4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":100,"wires":[["f012d182.954b3"],[]]},{"id":"777bac.ee44a454","type":"modbus-read","z":"59fddb0e.c1913c","name":"PT Reading","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"28672","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c339fc6b.a41c4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":440,"wires":[["7ecc5fd.35b0ca"],[]]},{"id":"329297b2.c4ada8","type":"modbus-write","z":"59fddb0e.c1913c","name":"Y1:Solenoid","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"8192","quantity":"1","server":"c339fc6b.a41c4","x":490,"y":900,"wires":[["aaa460b8.3f7c1"],[]]},{"id":"78d6d75d.d89ad8","type":"trigger","z":"59fddb0e.c1913c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":120,"y":900,"wires":[["80806eaa.ff3ed"]]},{"id":"2edaafb0.f87","type":"inject","z":"59fddb0e.c1913c","name":"Every 3 minute","topic":"","payload":"true","payloadType":"bool","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":720,"wires":[["263a7bc9.00e974"]]},{"id":"aec7c6b.c287438","type":"modbus-write","z":"59fddb0e.c1913c","name":"Y4:Pump","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"8195","quantity":"1","server":"c339fc6b.a41c4","x":760,"y":1020,"wires":[["252a28f2.ef1318"],[]]},{"id":"ccd410e.cbeccf","type":"trigger","z":"59fddb0e.c1913c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"120","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":450,"y":1020,"wires":[["f63b8b98.d0ddb8"]]},{"id":"bbb6d177.06fb3","type":"toFloat","z":"59fddb0e.c1913c","name":"","toFixed":"2","x":640,"y":440,"wires":[["94c7d88e.0726c8"]]},{"id":"17669595.3488da","type":"binary","z":"59fddb0e.c1913c","name":"toBinary","pattern":"b32","x":480,"y":440,"wires":[["bbb6d177.06fb3"]]},{"id":"7ecc5fd.35b0ca","type":"function","z":"59fddb0e.c1913c","name":"swapWords","func":"var mbMsg = msg.responseBuffer.buffer;\nvar swapWords=[mbMsg[2],mbMsg[3],mbMsg[0],mbMsg[1]];\nmsg.payload=Buffer.from(swapWords);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["17669595.3488da"]]},{"id":"94c7d88e.0726c8","type":"change","z":"59fddb0e.c1913c","name":"","rules":[{"t":"set","p":"PTReading","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":440,"wires":[["12728e77.0e9532"]]},{"id":"6598aef5.8d79b","type":"switch","z":"59fddb0e.c1913c","name":"if <50 then","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"50.0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1020,"wires":[["ccd410e.cbeccf"]]},{"id":"1745aeed.60da61","type":"change","z":"59fddb0e.c1913c","name":"Get PT Reading","rules":[{"t":"set","p":"payload","pt":"msg","to":"PTReading","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":1020,"wires":[["6598aef5.8d79b"]]},{"id":"aaa460b8.3f7c1","type":"counter","z":"59fddb0e.c1913c","name":"Count Solenid","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":680,"y":900,"wires":[["abba0909.2492f8"]]},{"id":"a0fc70da.e28f4","type":"ui_text","z":"59fddb0e.c1913c","group":"97a2bfe.ef09b4","order":2,"width":0,"height":0,"name":"Solenoid Count","label":"Qty Active  Solenoid","format":"{{msg.payload}}","layout":"col-center","x":1000,"y":900,"wires":[]},{"id":"252a28f2.ef1318","type":"counter","z":"59fddb0e.c1913c","name":"Count Pump","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":950,"y":1020,"wires":[["1f27c941.1b15c7"]]},{"id":"160071b1.ffe88e","type":"ui_text","z":"59fddb0e.c1913c","group":"97a2bfe.ef09b4","order":3,"width":0,"height":0,"name":"Pump Count","label":"Qty Active  Pump","format":"{{msg.payload}}","layout":"col-center","x":970,"y":1100,"wires":[]},{"id":"12728e77.0e9532","type":"ui_gauge","z":"59fddb0e.c1913c","name":"PressureTransducer","group":"97a2bfe.ef09b4","order":1,"width":0,"height":0,"gtype":"gage","title":"Presure Transducer","label":"PSI","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"120","x":1080,"y":440,"wires":[]},{"id":"abba0909.2492f8","type":"change","z":"59fddb0e.c1913c","name":"Get Qty","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":900,"wires":[["a0fc70da.e28f4"]]},{"id":"1f27c941.1b15c7","type":"change","z":"59fddb0e.c1913c","name":"Get Qty","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1060,"wires":[["160071b1.ffe88e"]]},{"id":"a6694db7.c9548","type":"function","z":"628e1a6a.ce2d24","name":"Reading Wago Inputs","func":"var inputReadings = [0,0,0,0,0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<8; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":"8","noerr":0,"x":380,"y":720,"wires":[["7bf482.bcf23b8"],["c1a7d1af.305fb"],["68ad3c5a.bca4c4"],["b60ff9b.0f7da08"],["ce96fb0b.4fb7f8"],["55ef2531.9628ec"],["b9ceba18.0dca58"],["8596b418.a6df98"]]},{"id":"7bf482.bcf23b8","type":"ui_switch","z":"628e1a6a.ce2d24","name":"DI_00_close","label":"CLOSE","group":"763b3de.1ba7ac4","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Close","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":520,"wires":[["686f24f.877a0dc"]]},{"id":"68ad3c5a.bca4c4","type":"ui_switch","z":"628e1a6a.ce2d24","name":"DI_02_manual","label":"MANUAL","group":"763b3de.1ba7ac4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":640,"wires":[["8f24477d.4c5598"]]},{"id":"c1a7d1af.305fb","type":"ui_switch","z":"628e1a6a.ce2d24","name":"DI_01_open","label":"OPEN","group":"763b3de.1ba7ac4","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":580,"wires":[["27397ebb.d5c122"]]},{"id":"b60ff9b.0f7da08","type":"ui_switch","z":"628e1a6a.ce2d24","name":"DI_03_auto","label":"AUTO","group":"763b3de.1ba7ac4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"auto","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":700,"wires":[["8cb45b2a.e9c678"]]},{"id":"ce96fb0b.4fb7f8","type":"ui_switch","z":"628e1a6a.ce2d24","name":"DI_04","label":"DI_04_lbl","group":"763b3de.1ba7ac4","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":760,"wires":[[]]},{"id":"b9ceba18.0dca58","type":"ui_switch","z":"628e1a6a.ce2d24","name":"DI_06_Ready","label":"Ready","group":"28859e26.f78d52","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":880,"wires":[["bac0e8af.f5d078"]]},{"id":"55ef2531.9628ec","type":"ui_switch","z":"628e1a6a.ce2d24","name":"DI_05_HomePosition","label":"In Home Position","group":"763b3de.1ba7ac4","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":820,"wires":[[]]},{"id":"8596b418.a6df98","type":"ui_switch","z":"628e1a6a.ce2d24","name":"DI_07_Alarm","label":"Alarm","group":"28859e26.f78d52","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":940,"wires":[["3247e51c.3878ca"]]},{"id":"7c8008a0.4c3978","type":"comment","z":"628e1a6a.ce2d24","name":"Analog Input","info":"","x":90,"y":220,"wires":[]},{"id":"27efb7a3.8e8c08","type":"comment","z":"628e1a6a.ce2d24","name":"Digital Inputs","info":"","x":90,"y":560,"wires":[]},{"id":"66cf5687.57a438","type":"comment","z":"628e1a6a.ce2d24","name":"Valve Operation","info":"","x":120,"y":1280,"wires":[]},{"id":"cd8b94eb.73abd8","type":"modbus-read","z":"628e1a6a.ce2d24","name":"Read Digital Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Input","adr":"0","quantity":"8","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"ca7a1268.93c9c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":620,"wires":[["a6694db7.c9548"],[]]},{"id":"1fd2535a.5a64ad","type":"modbus-read","z":"628e1a6a.ce2d24","name":"Read Analog Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"ca7a1268.93c9c","x":130,"y":280,"wires":[[],[]]},{"id":"bac0e8af.f5d078","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-D | B/READY LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"6","quantity":"1","server":"ca7a1268.93c9c","x":1240,"y":880,"wires":[[],[]]},{"id":"af0848af.0f83e8","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-H | B/ALARM LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"7","quantity":"1","server":"ca7a1268.93c9c","x":1240,"y":940,"wires":[[],[]]},{"id":"90d06dc6.1816f","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"ca7a1268.93c9c","x":810,"y":1420,"wires":[["5cf3312f.ae46a"],[]]},{"id":"5cf3312f.ae46a","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"ca7a1268.93c9c","x":1050,"y":1420,"wires":[["11a1e6e6.78adb9"],[]]},{"id":"11a1e6e6.78adb9","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"ca7a1268.93c9c","x":1300,"y":1420,"wires":[[],[]]},{"id":"257b7503.ff1b4a","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"ca7a1268.93c9c","x":1320,"y":1360,"wires":[[],[]]},{"id":"61cb731b.b58ffc","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-C | D/Z-HOME","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4","quantity":"1","server":"ca7a1268.93c9c","x":1220,"y":520,"wires":[[],[]]},{"id":"1d24b245.ea8ece","type":"ui_gauge","z":"628e1a6a.ce2d24","name":"SYSTEM PRESSURE","group":"763b3de.1ba7ac4","order":1,"width":0,"height":0,"gtype":"gage","title":"System Pressure","label":"PSI","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":320,"wires":[]},{"id":"3247e51c.3878ca","type":"function","z":"628e1a6a.ce2d24","name":"Invert","func":"if (msg.payload === true) {\n    msg.payload=false;\n} else {\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":940,"wires":[["af0848af.0f83e8"]]},{"id":"15919e08.a79df2","type":"ui_template","z":"628e1a6a.ce2d24","group":"68ead966.a87d88","name":"MANUAL START","order":7,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    MAN STRT\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":1360,"wires":[["c0e75c8b.8d58c"]]},{"id":"43c3833f.f2f33c","type":"ui_template","z":"628e1a6a.ce2d24","group":"68ead966.a87d88","name":"RESET ALARM","order":9,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    RESET ALARM\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":1420,"wires":[["90d06dc6.1816f","839297f7.8b5538"]]},{"id":"686f24f.877a0dc","type":"ui_template","z":"628e1a6a.ce2d24","group":"68ead966.a87d88","name":"Close Valve","order":8,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CLOSE VALVE\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":910,"y":520,"wires":[["61cb731b.b58ffc"]]},{"id":"27397ebb.d5c122","type":"link out","z":"628e1a6a.ce2d24","name":"ValveOperation","links":["95023cd5.5d77e"],"x":855,"y":580,"wires":[]},{"id":"95023cd5.5d77e","type":"link in","z":"628e1a6a.ce2d24","name":"Valve","links":["27397ebb.d5c122"],"x":115,"y":1320,"wires":[["952cf36a.2ef83"]]},{"id":"952cf36a.2ef83","type":"function","z":"628e1a6a.ce2d24","name":"Valve Control","func":"var Auto = flow.get ('isAuto');\nvar Manual = flow.get('isManual');\n\nif (Auto===true && msg.payload===true){\n    msg.payload='Auto';\n    return [msg,null,null];\n} else if (Manual===true && msg.payload===true){\n    msg.payload=true;\n    return [null,msg,null];\n} else if (Auto===false && Manual===false && msg.payload===true){\n    msg.payload=false;\n    return [null,null,msg];\n} else {\n    return [null,null,null];\n}","outputs":"3","noerr":0,"x":290,"y":1360,"wires":[["e2885697.2ce458","6911f60b.c9c078"],["451cd893.fe98f8"],["43c3833f.f2f33c"]],"outputLabels":["Auto","Manual","Reset Alarm"]},{"id":"a1b8193b.fbfb38","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-G | D/ALM-RST","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"5","quantity":"1","server":"ca7a1268.93c9c","x":1330,"y":1480,"wires":[[],[]]},{"id":"b958d727.325a58","type":"comment","z":"628e1a6a.ce2d24","name":"Valve Operation","info":"","x":960,"y":580,"wires":[]},{"id":"4e9f696b.af93b8","type":"comment","z":"628e1a6a.ce2d24","name":"Auto Operation","info":"","x":300,"y":1160,"wires":[]},{"id":"5cecab6c.8d2974","type":"function","z":"628e1a6a.ce2d24","name":"Valve Control Logic","func":"// get assign global variables\nvar actualPressure = Number(msg.payload);\nglobal.set('currentPresure', actualPressure);\nvar pressureValues = global.get('pressure') || {'pressure':[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]};\n// eliminate the oldest value of the array\npressureValues.pressure.shift();\n// pushing the newest value on the array\npressureValues.pressure.push(actualPressure);\n// setting back the new value to the array \nglobal.set ('pressure',pressureValues);\n\n// mean calculation\nvar pressureMean1=0;\nvar pressureMean2=0;\nfor (i=0;i<5;i++){\n pressureMean1+=pressureValues.pressure[i];\n pressureMean2+=pressureValues.pressure[i+5];\n}\npressureMean1=pressureMean1/5;\npressureMean2=pressureMean2/5;\nvar bleedRate = Math.round((pressureMean2-pressureMean1) * -60); // PSI per Minutes\n\n//setting the limits\nvar systemTolerance = 0.1; // Adjust to higher if motor is over reacting\nvar primaryRate = global.get('primaryBleedRate') || 1000; \nvar pUCL = primaryRate + (primaryRate * systemTolerance);\nvar pLCL = primaryRate - (primaryRate * systemTolerance);\nvar secondaryRate = global.get('secondaryBleedRate') || 100;\nvar sUCL = secondaryRate + (2 * secondaryRate * systemTolerance);\nvar sLCL = secondaryRate - (2 * secondaryRate * systemTolerance);\n\nvar actionOut='stay';\nvar breakPoint = global.get('bleedBreakPoint') || 1000;\nif (actualPressure>breakPoint) {\n    // Primary Bleed Rate\n    if (bleedRate > pUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < pLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n} else {\n    // Secundary Bleed Rate\n    if (bleedRate > sUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < sLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n}\n// message out\nmsg.payload={'pressure':[actualPressure,bleedRate,actionOut], 'other':[pressureMean1,pressureMean2,pLCL,pUCL,sLCL,sUCL]};\n\nreturn [msg,msg,msg];","outputs":"3","noerr":0,"x":670,"y":400,"wires":[["5ff70a0d.2a1ee4","ccd16c77.c0444"],["6146be.f120e944"],["e6370c94.3036b"]]},{"id":"e617b250.5e4ad","type":"ui_text","z":"628e1a6a.ce2d24","group":"28859e26.f78d52","order":2,"width":0,"height":0,"name":"System Pressure","label":"System Pressure","format":"{{msg.payload}}","layout":"col-center","x":1210,"y":360,"wires":[]},{"id":"2b336014.dba9e","type":"ui_text","z":"628e1a6a.ce2d24","group":"28859e26.f78d52","order":4,"width":0,"height":0,"name":"Bleed Rate","label":"Bleed Rate","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":400,"wires":[]},{"id":"5ff70a0d.2a1ee4","type":"debug","z":"628e1a6a.ce2d24","name":"","active":false,"console":"false","complete":"true","x":910,"y":300,"wires":[]},{"id":"4ab5c9c8.2bfaa8","type":"ui_text","z":"628e1a6a.ce2d24","group":"28859e26.f78d52","order":6,"width":0,"height":0,"name":"Action","label":"Action","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":440,"wires":[]},{"id":"73162cc6.c65724","type":"inject","z":"628e1a6a.ce2d24","name":"Start Variables","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":140,"y":140,"wires":[["3ad95a96.9b5a96","da9a3cc9.c4b83","39f4b922.4d19f6"]]},{"id":"d907735a.18272","type":"comment","z":"628e1a6a.ce2d24","name":"Initialize Global Variables","info":"","x":130,"y":40,"wires":[]},{"id":"ca36c2d3.43b92","type":"ui_slider","z":"628e1a6a.ce2d24","name":"Secondary Bleed Rate","label":"","group":"1fe5b8c9.d9b4c7","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":"25","max":"1000","step":"25","x":680,"y":180,"wires":[["8865b319.ae4c8"]]},{"id":"66bf6ae5.714774","type":"ui_text","z":"628e1a6a.ce2d24","group":"1fe5b8c9.d9b4c7","order":5,"width":0,"height":0,"name":"Secondary Bleed Rate lbl","label":"Secondary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1230,"y":180,"wires":[]},{"id":"2e427b32.3b0444","type":"ui_slider","z":"628e1a6a.ce2d24","name":"Bleed Break Point","label":"","group":"1fe5b8c9.d9b4c7","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"10000","step":"500","x":670,"y":140,"wires":[["1973baf0.886d75"]]},{"id":"df66de11.75252","type":"ui_text","z":"628e1a6a.ce2d24","group":"1fe5b8c9.d9b4c7","order":3,"width":0,"height":0,"name":"Bleed Break Point lbl","label":"Bleed Break Point","format":"{{msg.payload}} lbs","layout":"col-center","x":1220,"y":140,"wires":[]},{"id":"714e04e.b6638fc","type":"ui_text","z":"628e1a6a.ce2d24","group":"1fe5b8c9.d9b4c7","order":1,"width":0,"height":0,"name":"Primary Bleed Rate lbl","label":"Primary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1220,"y":100,"wires":[]},{"id":"c9b4d08e.3e3b8","type":"ui_slider","z":"628e1a6a.ce2d24","name":"Primary Bleed Rate","label":"","group":"1fe5b8c9.d9b4c7","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"250","max":"10000","step":"250","x":670,"y":100,"wires":[["1e9e7fb4.7f3cd"]]},{"id":"b5cb66a.426d998","type":"ui_template","z":"628e1a6a.ce2d24","group":"68ead966.a87d88","name":"AUTO-OPEN","order":3,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    OPEN\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":960,"wires":[[]]},{"id":"442627e5.657b28","type":"ui_template","z":"628e1a6a.ce2d24","group":"68ead966.a87d88","name":"AUTO-CANCEL","order":4,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CANCEL\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":1040,"wires":[[]]},{"id":"e2885697.2ce458","type":"function","z":"628e1a6a.ce2d24","name":"Act on Auto Mode","func":"var action = global.get ('action') || 'stay';\nmsg.payload = true;\nif (action === 'close') {\n    return [msg,null];\n} else if (action==='open') {\n    return[null,msg];\n} else {\n    return [null,null];\n}","outputs":"2","noerr":0,"x":310,"y":1200,"wires":[["155587c6.679e48","19b97fbb.fc9e5"],["aa4ebf3a.e99c8"]]},{"id":"155587c6.679e48","type":"debug","z":"628e1a6a.ce2d24","name":"","active":true,"console":"false","complete":"false","x":570,"y":1120,"wires":[]},{"id":"916533ee.6228","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"ca7a1268.93c9c","x":810,"y":1300,"wires":[["b3c80091.ceeb7"],[]]},{"id":"b3c80091.ceeb7","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"ca7a1268.93c9c","x":1040,"y":1300,"wires":[[],[]]},{"id":"3787e0cb.8751","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"ca7a1268.93c9c","x":810,"y":1200,"wires":[["bb044f03.fb9e5"],[]]},{"id":"b44e54a3.1a7158","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"ca7a1268.93c9c","x":1340,"y":1200,"wires":[[],[]]},{"id":"c0e75c8b.8d58c","type":"modbus-write","z":"628e1a6a.ce2d24","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"ca7a1268.93c9c","x":1050,"y":1360,"wires":[["257b7503.ff1b4a"],[]]},{"id":"451cd893.fe98f8","type":"trigger","z":"628e1a6a.ce2d24","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":570,"y":1360,"wires":[["15919e08.a79df2"]]},{"id":"839297f7.8b5538","type":"trigger","z":"628e1a6a.ce2d24","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":790,"y":1480,"wires":[["a1b8193b.fbfb38"]]},{"id":"bb044f03.fb9e5","type":"trigger","z":"628e1a6a.ce2d24","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":1030,"y":1200,"wires":[["b44e54a3.1a7158"]]},{"id":"1e9e7fb4.7f3cd","type":"change","z":"628e1a6a.ce2d24","name":"","rules":[{"t":"set","p":"primaryBleedRate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":100,"wires":[["714e04e.b6638fc"]]},{"id":"1973baf0.886d75","type":"change","z":"628e1a6a.ce2d24","name":"","rules":[{"t":"set","p":"bleedBreakPoint","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[["df66de11.75252"]]},{"id":"8865b319.ae4c8","type":"change","z":"628e1a6a.ce2d24","name":"","rules":[{"t":"set","p":"secondaryBleedRate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":180,"wires":[["66bf6ae5.714774"]]},{"id":"3ad95a96.9b5a96","type":"change","z":"628e1a6a.ce2d24","name":"Set primaryBleedRate","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"},{"t":"set","p":"primaryBleedRate","pt":"global","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["c9b4d08e.3e3b8"]]},{"id":"da9a3cc9.c4b83","type":"change","z":"628e1a6a.ce2d24","name":"Set bleedBreakPoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"},{"t":"set","p":"bleedBreakPoint","pt":"global","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["2e427b32.3b0444"]]},{"id":"39f4b922.4d19f6","type":"change","z":"628e1a6a.ce2d24","name":"Set secondaryBleedRate","rules":[{"t":"set","p":"payload","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"secondaryBleedRate","pt":"global","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":180,"wires":[["ca36c2d3.43b92"]]},{"id":"98428c62.bedbf","type":"change","z":"628e1a6a.ce2d24","name":"Set systemPressure","rules":[{"t":"set","p":"systemPressure","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":280,"wires":[[]]},{"id":"6911f60b.c9c078","type":"change","z":"628e1a6a.ce2d24","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1300,"wires":[["916533ee.6228"]]},{"id":"8f24477d.4c5598","type":"change","z":"628e1a6a.ce2d24","name":"","rules":[{"t":"set","p":"isManual","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":640,"wires":[[]]},{"id":"8cb45b2a.e9c678","type":"change","z":"628e1a6a.ce2d24","name":"","rules":[{"t":"set","p":"isAuto","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":700,"wires":[[]]},{"id":"19b97fbb.fc9e5","type":"change","z":"628e1a6a.ce2d24","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1180,"wires":[["3787e0cb.8751"]]},{"id":"aa4ebf3a.e99c8","type":"change","z":"628e1a6a.ce2d24","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1220,"wires":[["3787e0cb.8751"]]},{"id":"ccd16c77.c0444","type":"change","z":"628e1a6a.ce2d24","name":"System Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[["e617b250.5e4ad"]]},{"id":"6146be.f120e944","type":"change","z":"628e1a6a.ce2d24","name":"Bleed Rate","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":400,"wires":[["2b336014.dba9e"]]},{"id":"e6370c94.3036b","type":"change","z":"628e1a6a.ce2d24","name":"Action","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":440,"wires":[["4ab5c9c8.2bfaa8"]]},{"id":"f012d182.954b3","type":"function","z":"59fddb0e.c1913c","name":"Click Inputs X1~X4","func":"var inputReadings = [0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<4; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":4,"noerr":0,"x":330,"y":100,"wires":[["f8e5595.48f0ca8"],["9163225a.98574"],[],[]],"inputLabels":["fromModBus"],"outputLabels":["X1","X2","X3","X4"],"icon":"node-red/split.png"},{"id":"f63b8b98.d0ddb8","type":"ui_template","z":"59fddb0e.c1913c","group":"ceb2667f.7f32e8","name":"Start Pump","order":8,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    START PUMP\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":1020,"wires":[["aec7c6b.c287438"]]},{"id":"f8e5595.48f0ca8","type":"ui_switch","z":"59fddb0e.c1913c","name":"X1_Empty_Level","label":"Empty Level","group":"97a2bfe.ef09b4","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Empty Level","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":80,"wires":[["b422959a.0399d8"]]},{"id":"9163225a.98574","type":"ui_switch","z":"59fddb0e.c1913c","name":"X2_Low_Level","label":"Low Level","group":"97a2bfe.ef09b4","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"low level","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":120,"wires":[["ba40892b.b0e228"]]},{"id":"53f81b06.9b73d4","type":"comment","z":"59fddb0e.c1913c","name":"Analog Inputs","info":"","x":90,"y":380,"wires":[]},{"id":"62ee2b8e.dd1d14","type":"comment","z":"59fddb0e.c1913c","name":"Digital Inputs","info":"","x":90,"y":40,"wires":[]},{"id":"b422959a.0399d8","type":"change","z":"59fddb0e.c1913c","name":"","rules":[{"t":"set","p":"isEmpty","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":80,"wires":[["a8252d8c.37e93","c27f8ab8.d458d8"]]},{"id":"a8252d8c.37e93","type":"ui_text","z":"59fddb0e.c1913c","group":"97a2bfe.ef09b4","order":0,"width":0,"height":0,"name":"Is Empty","label":"Is Empty?","format":"{{msg.payload}}","layout":"col-center","x":1020,"y":80,"wires":[]},{"id":"ba40892b.b0e228","type":"change","z":"59fddb0e.c1913c","name":"","rules":[{"t":"set","p":"isLevelLow","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[["dcfce6af.55caa8"]]},{"id":"dcfce6af.55caa8","type":"ui_text","z":"59fddb0e.c1913c","group":"97a2bfe.ef09b4","order":0,"width":0,"height":0,"name":"Is Low Level","label":"Is level Low?","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":120,"wires":[]},{"id":"80806eaa.ff3ed","type":"ui_template","z":"59fddb0e.c1913c","group":"ceb2667f.7f32e8","name":"Start Solenoid","order":8,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    Feed Plants\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":300,"y":900,"wires":[["329297b2.c4ada8"]]},{"id":"2f492b03.3391e4","type":"comment","z":"59fddb0e.c1913c","name":"Sprays for 1s","info":"","x":130,"y":860,"wires":[]},{"id":"4d098c04.5716d4","type":"comment","z":"59fddb0e.c1913c","name":"Refills Tank","info":"","x":90,"y":980,"wires":[]},{"id":"5eb96710.1185b8","type":"debug","z":"59fddb0e.c1913c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":660,"wires":[]},{"id":"c27f8ab8.d458d8","type":"debug","z":"59fddb0e.c1913c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":40,"wires":[]},{"id":"263a7bc9.00e974","type":"change","z":"59fddb0e.c1913c","name":"Get Is Empty","rules":[{"t":"set","p":"payload","pt":"msg","to":"isEmpty","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":720,"wires":[["41db570f.830d28"]]},{"id":"41db570f.830d28","type":"switch","z":"59fddb0e.c1913c","name":"if is Not Empty","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":720,"wires":[["7bb5c4dc.e69f0c"]]},{"id":"7bb5c4dc.e69f0c","type":"function","z":"59fddb0e.c1913c","name":"Invert","func":"if (msg.payload === true) {\n    msg.payload=false;\n} else {\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":720,"wires":[["5eb96710.1185b8","78d6d75d.d89ad8","1745aeed.60da61"]]},{"id":"5146c73f.6e2c28","type":"inject","z":"59fddb0e.c1913c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["394e0663.76e80a"]]},{"id":"394e0663.76e80a","type":"change","z":"59fddb0e.c1913c","name":"get presure reading","rules":[{"t":"set","p":"payload","pt":"msg","to":"PTReading","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":540,"wires":[["e434633d.0d56"]]},{"id":"e434633d.0d56","type":"ui_chart","z":"59fddb0e.c1913c","name":"","group":"b469d970.9d6b68","order":0,"width":"18","height":"10","label":"Presure chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"125","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":540,"wires":[[],[]]}]
