temperatures
[{"id":"6bff362d.cac228","type":"tab","label":"Temp Experiment","disabled":false,"info":""},{"id":"39652887.70ed58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f13e3e40.092be","type":"ui_tab","z":"","name":"Temps","icon":"dashboard"},{"id":"dad4937.eca5f7","type":"ui_group","z":"","name":"Temperatures","tab":"f13e3e40.092be","disp":true,"width":"16"},{"id":"34bebaf2.9145c6","type":"MySQLdatabase","z":"6bff362d.cac228","host":"10.0.1.30","port":"3306","db":"ajicitodb","tz":""},{"id":"cdc441f6.63523","type":"ds18b20","z":"6bff362d.cac228","name":"Full Foam","sensorid":"28-0517a1d9e8ff","timer":".25","x":100,"y":340,"wires":[["d296709.a81ec9"]]},{"id":"8c78d366.24c27","type":"ds18b20","z":"6bff362d.cac228","name":"Foam Top","sensorid":"28-0417a23a4cff","timer":".25","x":100,"y":280,"wires":[["fad38eae.1956f"]]},{"id":"d9f73c37.56036","type":"ds18b20","z":"6bff362d.cac228","name":"Black Tub","sensorid":"28-0517a22341ff","timer":".25","x":100,"y":160,"wires":[["447f4e4e.d7c1f"]]},{"id":"a3d45021.5ad9d","type":"ui_chart","z":"6bff362d.cac228","name":"24hr Temperatures","group":"dad4937.eca5f7","order":5,"width":0,"height":0,"label":"24hr Temperatures","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":100,"wires":[[],[]]},{"id":"bba27c98.9252a","type":"comment","z":"6bff362d.cac228","name":"Temperature In Containers","info":"Experiment designed to collect data \nabout the influence of wrapping \ndifferent containers with different \nmaterials on the temperature of the\nroots system","x":130,"y":40,"wires":[]},{"id":"d296709.a81ec9","type":"change","z":"6bff362d.cac228","name":"Full Foam","rules":[{"t":"set","p":"topic","pt":"msg","to":"Full Foam","tot":"str"},{"t":"set","p":"full_foam","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":340,"wires":[["a3d45021.5ad9d","eb81cafc.19a0b"]]},{"id":"fad38eae.1956f","type":"change","z":"6bff362d.cac228","name":"Foam Top","rules":[{"t":"set","p":"topic","pt":"msg","to":"Foam Top","tot":"str"},{"t":"set","p":"foam_top","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["a3d45021.5ad9d","2fbce322.befcd4"]]},{"id":"447f4e4e.d7c1f","type":"change","z":"6bff362d.cac228","name":"Black Tub","rules":[{"t":"set","p":"topic","pt":"msg","to":"Black Tub","tot":"str"},{"t":"set","p":"black_tub","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["a3d45021.5ad9d","203a0a16.ffe026"]]},{"id":"b35d1199.aecf2","type":"inject","z":"6bff362d.cac228","name":"Clear Graph","topic":"","payload":"[null,null,null,null]","payloadType":"json","repeat":"","crontab":"","once":false,"x":330,"y":100,"wires":[["a3d45021.5ad9d"]]},{"id":"eb81cafc.19a0b","type":"ui_gauge","z":"6bff362d.cac228","name":"Full Foam","group":"dad4937.eca5f7","order":4,"width":"4","height":"3","gtype":"gage","title":"Full Foam","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00fdff","#00f900","#ff2600"],"seg1":"18","seg2":"25","x":560,"y":340,"wires":[]},{"id":"2fbce322.befcd4","type":"ui_gauge","z":"6bff362d.cac228","name":"Foam Top","group":"dad4937.eca5f7","order":3,"width":"4","height":"3","gtype":"gage","title":"Foam Top","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00fdff","#00f900","#ff2600"],"seg1":"18","seg2":"25","x":560,"y":280,"wires":[]},{"id":"203a0a16.ffe026","type":"ui_gauge","z":"6bff362d.cac228","name":"Black tub","group":"dad4937.eca5f7","order":1,"width":"4","height":"3","gtype":"gage","title":"Black Tub","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00fdff","#00f900","#ff2600"],"seg1":"18","seg2":"25","x":560,"y":160,"wires":[]},{"id":"4789a6a4.9b0038","type":"ds18b20","z":"6bff362d.cac228","name":"Alum Foil","sensorid":"28-0417a24e6bff","timer":".25","x":100,"y":220,"wires":[["f619dfab.c82e5"]]},{"id":"f619dfab.c82e5","type":"change","z":"6bff362d.cac228","name":"Alum Foil","rules":[{"t":"set","p":"topic","pt":"msg","to":"Alum Foil","tot":"str"},{"t":"set","p":"alum_foil","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["5d80999c.e6ab78","a3d45021.5ad9d"]]},{"id":"5d80999c.e6ab78","type":"ui_gauge","z":"6bff362d.cac228","name":"Alum Foil","group":"dad4937.eca5f7","order":2,"width":"4","height":"3","gtype":"gage","title":"Alum Foil","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00fdff","#00f900","#ff2600"],"seg1":"18","seg2":"25","x":560,"y":220,"wires":[]},{"id":"3578e1e9.c680ae","type":"function","z":"6bff362d.cac228","name":"Writes SQL string","func":"//get global variables\nvar black_tub = global.get('black_tub')||0.0;\nvar alum_foil = global.get('alum_foil')||0.0;\nvar foam_top = global.get('foam_top')||0.0;\nvar full_foam = global.get('full_foam')||0.0;\n\n//convert time\nvar datetime = new Date().toISOString().slice(0, 19).replace('T', ' ');\n\n//create sql query\nvar SQLstr = 'INSERT INTO temp_experiment ' +\n             '(date, black_tub, alum_foil, foam_top, full_foam) ' +\n             'VALUES ' +\n             '(\"' + \n                datetime + '\",' + \n                black_tub + ',' + \n                alum_foil + ',' + \n                foam_top + ',' +\n                full_foam + ');';\n             \n//assign to the message topic to write in the database\nmsg.topic = SQLstr;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["5829122b.b7fdcc"]]},{"id":"35634c0.1cb55b4","type":"inject","z":"6bff362d.cac228","name":"Every 5 min","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":110,"y":400,"wires":[["3578e1e9.c680ae"]]},{"id":"5829122b.b7fdcc","type":"mysql","z":"6bff362d.cac228","mydb":"34bebaf2.9145c6","name":"Save in database","x":590,"y":400,"wires":[[]]}]
