temperatures
[{"id":"6bff362d.cac228","type":"tab","label":"Flow 1"},{"id":"39652887.70ed58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f13e3e40.092be","type":"ui_tab","z":"","name":"Temps","icon":"dashboard"},{"id":"dad4937.eca5f7","type":"ui_group","z":"","name":"Termeratures","tab":"f13e3e40.092be","disp":true,"width":"19"},{"id":"cdc441f6.63523","type":"ds18b20","z":"6bff362d.cac228","name":"OpenAir","sensorid":"28-0517a1d9e8ff","timer":"0.25","x":140,"y":180,"wires":[["d296709.a81ec9"]]},{"id":"8c78d366.24c27","type":"ds18b20","z":"6bff362d.cac228","name":"WrappedOnce","sensorid":"28-0417a23a4cff","timer":"0.25","x":120,"y":240,"wires":[["fad38eae.1956f"]]},{"id":"d9f73c37.56036","type":"ds18b20","z":"6bff362d.cac228","name":"WrappedTwice","sensorid":"28-0417a24e6bff","timer":"0.25","x":120,"y":300,"wires":[["447f4e4e.d7c1f"]]},{"id":"a3d45021.5ad9d","type":"ui_chart","z":"6bff362d.cac228","name":"24hr Temperatures","group":"dad4937.eca5f7","order":4,"width":0,"height":0,"label":"24hr Temperatures","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":776,"y":178,"wires":[[],[]]},{"id":"87f88809.78fb18","type":"debug","z":"6bff362d.cac228","name":"","active":true,"console":"false","complete":"false","x":836,"y":338,"wires":[]},{"id":"bba27c98.9252a","type":"comment","z":"6bff362d.cac228","name":"Wrapping Influence","info":"Experiment designed to collect data about\nthe influence of wrapping clear paper\non the internal temperature of boxes\n","x":130,"y":100,"wires":[]},{"id":"d296709.a81ec9","type":"change","z":"6bff362d.cac228","name":"set topic to Open Air","rules":[{"t":"set","p":"topic","pt":"msg","to":"Open Air","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":180,"wires":[["a3d45021.5ad9d","87f88809.78fb18","eb81cafc.19a0b"]]},{"id":"fad38eae.1956f","type":"change","z":"6bff362d.cac228","name":"set topic to wrapped once","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wapped Once","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["a3d45021.5ad9d","87f88809.78fb18","2fbce322.befcd4"]]},{"id":"447f4e4e.d7c1f","type":"change","z":"6bff362d.cac228","name":"set topic to wrapped twice","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wrapped Twice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["a3d45021.5ad9d","87f88809.78fb18","203a0a16.ffe026"]]},{"id":"b35d1199.aecf2","type":"inject","z":"6bff362d.cac228","name":"Clear Graph","topic":"","payload":"[null,null]","payloadType":"json","repeat":"","crontab":"","once":false,"x":430,"y":100,"wires":[["a3d45021.5ad9d"]]},{"id":"eb81cafc.19a0b","type":"ui_gauge","z":"6bff362d.cac228","name":"Open Air","group":"dad4937.eca5f7","order":1,"width":"4","height":"3","gtype":"gage","title":"Open Air","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":720,"y":120,"wires":[]},{"id":"2fbce322.befcd4","type":"ui_gauge","z":"6bff362d.cac228","name":"Wrapped Once","group":"dad4937.eca5f7","order":2,"width":"4","height":"3","gtype":"gage","title":"Wrapped Once","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":759.5,"y":235,"wires":[]},{"id":"203a0a16.ffe026","type":"ui_gauge","z":"6bff362d.cac228","name":"Wrapped Twice","group":"dad4937.eca5f7","order":3,"width":"4","height":"3","gtype":"gage","title":"Wrapped Twice","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":715.5,"y":372,"wires":[]}]
